/*
Layout Rules:

CSS, by its very nature, is used to lay elements out on the page.

However, there is a distinction between layouts dictating the major

and minor components of a page. The minor components—such as

a callout, or login form, or a navigation item—sit within the scope

of major components such as a header or footer. I refer to the mi-
nor components as Modules and will dive into those in the next sec-
tion. The major components are referred to as Layout styles.

Layout styles can also be divided into major and minor styles based

on reuse. Major layout styles such as header and footer are tradi-
tionally styled using ID selectors but take the time to think about

the elements that are common across all components of the page

and use class selectors where appropriate.
*/

:global {

	.container {
		background: #fff;
		margin: 0 auto;
		padding: 20px;
		width: 100%;

		@media (min-width: 550px) {
			max-width: 960px;
		}

		@media (min-width: 1200px) {
			max-width: 1030px;
			padding: 40px;
		}
	}
}